html {
  box-sizing: border-box;
  font: {
    family: $font;
    size: $font-size;
  }
  color: $dark;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: $links;
  transition: all .3s ease-out;

  &:hover {
    color: $hover;
    opacity: .75;
  }
}

h1 {
  font:{
    size: 2.5rem;
    weight: bold;
  }
}

h2 {
  font:{
    size: 2rem;
    weight: bold;
  }
}

h3 {
  font:{
    size: 1.5rem;
    weight: bold;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 64em) {
  /* html { font-size: 1.5rem; }

  h1 { font-size: 3rem; }

  h2 { font-size: 3rem; }

  .u-small { font-size: 1rem; }

  .u-smaller { font-size: 1rem; } */
}
